.siparis {
  font-size: 3rem;
  color: #fdc913;
}
.success {
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 40, 41, 1);
  height: 100vh;
  color: white;
}

.success h1 {
  margin: 5rem auto;
  height: 3rem;
  font-family: "Londrina Solid", cursive;
  font-size: 3rem;
}

.text {
  font-size: 1rem;
  text-align: center;
  border: 1px;
  line-height: 1rem;
}
.orderozet {
  margin: 2rem 2rem 2rem 2rem;
  border: 2px solid;
  border-color: white;
  border-radius: 10px;
  display: inline-block;
  min-width: 15rem;
}
